.container .title{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 950px;
    margin: 0 auto;
}

.paginacao{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.paginacao svg{
    color: #fff;
}

.paginacao div{
    color: #fff;
}

.paginacao svg:hover{
    color: #ffe81f;
}

.paginacao button,
.paginacao button p{
    color: #fff;
}

.paginacao button:hover{
    color: #ffe81f;
}