.film-page{
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.film-page svg{
    font-size: 1.5rem;
    color: #f7d354;
}

.film-page .card{
    width: 60%;
    text-align: center;
    background-color: #000;
    margin: 0 auto;
}

.film-page .card img,
.film-page .card h2,
.film-page .card p{
    margin-bottom: 1rem;
}

.film-page .card h2{
    font-size: 2rem;
}

.film-page .card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info a{
    margin-right: 2rem;
}

.description {
    padding-bottom: 5rem;
}

.description p{
    line-height: 1.4rem;
}

